
<div class="card-container">
    <div class="card museum-card">
        <div class="card-image" style = "cursor: pointer;" (click)="goToDetails(cardData?.objectID)">
            <ng-container *ngIf="cardData?.primaryImageSmall">
                <img [src]="cardData?.primaryImageSmall" class="card-img-top" style="height: 100px;width: 100%;">
            </ng-container>
            <ng-container *ngIf="!cardData?.primaryImageSmall">
                <img src="/assets/Designer.png" class="card-img-top" style="height: 100px;width: 100%;">
            </ng-container>
        </div>

        <div class="card-body">
            <ng-container *ngIf="cardData?.title">
                <h3 class="" style="max-height: 3.6em;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; ">{{cardData.title}}</h3>
            </ng-container>
            <h5 class="card-text" style="max-height: 3.6em;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; ">By: {{cardData?.artistDisplayName ? cardData?.artistDisplayName : "Anonymous" }}</h5>
        </div>
        <div class="card-footer d-flex">
            <button type="button" class="fav-btn" (click)="wishlist(cardData?.objectID)"  style = "cursor: pointer;">
                <img [src]="checkFav(cardData?.objectID)">
            </button>
        </div>
    </div>
</div>