.add_img_view{
    height: 200px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    contain: content;
    border: 2px solid;
    border-radius: 20px;
}

.add_img_view > img{
    width: 100%;
    height: auto;
}

.image-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-image img {
    height: 200px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    contain: content;
    border: 2px solid;
    border-radius: 20px;
  }
  
  .thumbnail-container {
    margin-top: 10px;
  }
  
  .thumbnails {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .thumbnails img {
    width: auto;
    height: 50px; 
    margin-right: 5px; 
    cursor: pointer;
  }
  
  .thumbnails img:last-child {
    margin-right: 0;
  }
  